# Log files
*.log

# Virtual environment files
env/
venv/
virtualenv/

# IDE files
.vscode/
.pydevproject
.project

# Package files
dist/
build/
eggs/
wheel/
*.egg-info/

# Miscellaneous
*.tmp
*.bak
*.swp
.DS_Store
Thumbs.db